# Byte-compiled / optimized / DLL files
__pycache__/

# VS Code files
.vscode/
*.code-workspace

# Distribution / packaging
dist/

# Virtual environments
.venv/

# mypy
.mypy_cache/

# ruff
.ruff_cache/

# pytest
.pytest_cache/

# scratch Python files for GUI testing
*scratch.py
